[auth]
site_url = "https://locaith.ai"
additional_redirect_urls = [
  "https://locaith.ai/auth/callback",
  "https://www.locaith.ai/auth/callback",
  "http://localhost:3001/auth/callback",
  "http://localhost:3000/auth/callback",
  "http://localhost:4173/auth/callback",
  "http://localhost:5173/auth/callback",
  "http://localhost:5173"
]
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10
enable_signup = true

[auth.mfa]
max_enrolled_factors = 10

[auth.mfa.totp]
enroll_enabled = true
verify_enabled = true

[auth.mfa.phone]
enroll_enabled = false
verify_enabled = false

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true
secure_password_change = false
max_frequency = "1m0s"
otp_length = 6
otp_expiry = 3600